  <body>
    <a href="/media">
    <div class="logos">
      <div class="logos-slide">
        <img src="assets/images/HLN.svg" />
        <img src="assets/images/The_Times_masthead.svg" />
        <img src="assets/images/chronicle.svg" />
        <img src="assets/images/The_Sun.svg" />
        <img src="assets/images/The_Fertility_Podcast.svg" />
        <img src="assets/images/Metro.svg" />
      </div>

      <div class="logos-slide">
        <img src="assets/images/HLN.svg" />
        <img src="assets/images/The_Times_masthead.svg" />
        <img src="assets/images/chronicle.svg" />
        <img src="assets/images/The_Sun.svg" />
        <img src="assets/images/The_Fertility_Podcast.svg" />
        <img src="assets/images/Metro.svg" />
      </div>
    </div>
  </a>
  </body>

  